<launch>
	<arg name="target" default="localhost" />

    <arg name="allow_bidirectional" default="true" />

	<arg name="robust_latching" default="false" />
	<arg name="latch_helper_server_port" default="17010" />

	<!-- The UDP sender node -->
	<node name="tcp_sender" pkg="nimbro_topic_transport" type="tcp_sender" output="screen">

		<!-- The destination host name or IP address -->
		<param name="destination_addr" value="$(arg target)" />
		<param name="destination_port" value="17001" />

		<!-- Load the list of topics from a YAML file -->
		<rosparam command="load" file="$(find nimbro_topic_transport)/launch/topics.yaml" />

		<!-- If bidirectional traffic over a topic is expected, fill this parameter.
		     See details in bidirectional_topics.launch -->
		<rosparam param="ignored_publishers" if="$(arg allow_bidirectional)">["/tcp_receiver_back"]</rosparam>
		<rosparam param="ignored_publishers" unless="$(arg allow_bidirectional)">[]</rosparam>
	</node>

	<include file="$(find nimbro_topic_transport)/launch/tcp_sender_latch_helper.launch" if="$(arg robust_latching)">
		<arg name="server_port" value="$(arg latch_helper_server_port)" />
	</include>
</launch>
